# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.venv/
venv/
.env

# Rust
target/
Cargo.lock

# Logs
*.log

# profiling
*.csv

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# folders
pdfs/
lance_db/
.fastembed_cache/
data/